<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.portfolioBo.order.dao.OrderDao">
    
<resultMap id="orderDetailResultMap" type="com.portfolioBo.order.dto.OrderDto$OrderDetailResult">
    <id property="orderId" column="order_id"/>
    <result property="userNickName" column="userNickName"/>
    <result property="totalPrice" column="total_price"/>
    <result property="status" column="status"/>
    <result property="postcode" column="post_code"/>
    <result property="roadAddress" column="road_address"/>
    <result property="jibunAddress" column="jibun_address"/>
    <result property="detailAddress" column="detail_address"/>
    <result property="createDate" column="create_date"/>
    <collection property="orderItemList" ofType="com.portfolioBo.order.dto.OrderDto$OrderItemListResult">
        <id property="orderItemId" column="order_item_id"/>
        <result property="imageUrl" column="imageUrl"/>
        <result property="productName" column="productName"/>
        <result property="quantity" column="quantity"/>
        <result property="price" column="price"/>
        <result property="orderItemStatus" column="orderItemStatus"/>
        <result property="orderItemCreateDate" column="orderItemCreateDate"/>
    </collection>
</resultMap>
    
    <select id="selectOrdersList" parameterType="com.portfolioBo.order.dto.OrderDto$OrdersListQuery" resultType="com.portfolioBo.order.dto.OrderDto$OrdersListResult">
        SELECT 
			o.order_id,
			u.nickname as userNickName,
			o.total_price,
			o.status,
			o.create_date,
			o.modify_date
        FROM 
            orders o
        LEFT OUTER JOIN users u ON u.user_id = o.user_id 
        WHERE
            1=1
            <if test="orderId != null">
                AND o.order_id = #{orderId}
            </if>
            <if test="userNickName != null and userNickName != ''">
                AND u.nickname LIKE CONCAT('%', #{userNickName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND o.status = #{status}
            </if>
            ORDER BY o.create_date DESC
			LIMIT #{paging.startRecordIndex}, #{paging.pageSize}
    </select>
    <select id="selectOrdersListCnt" parameterType="com.portfolioBo.order.dto.OrderDto$OrdersListQuery" resultType="Integer">
        SELECT 
        	COUNT(*)
        FROM 
            orders o
        LEFT OUTER JOIN users u ON u.user_id = o.user_id 
        WHERE
            1=1
            <if test="orderId != null">
                AND o.order_id = #{orderId}
            </if>
            <if test="userNickName != null and userNickName != ''">
                AND u.nickname LIKE CONCAT('%', #{userNickName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND o.status = #{status}
            </if>
    </select>
    <select id="selectOrderDetail" parameterType="Integer" resultMap="orderDetailResultMap">
	SELECT 
		o.order_id ,
		u.nickname as userNickName,
		o.total_price ,
		o.post_code ,
		o.road_address ,
		o.jibun_address ,
		o.detail_address ,
		o.create_date ,
		o.status ,
		oi.order_item_id ,
		CONCAT(f.file_id, '.', f.file_type) AS imageUrl,
		p.name as productName,
		oi.quantity ,
		oi.price ,
		oi.create_date as orderItemCreateDate,
		oi.status as orderItemStatus
	FROM orders o 
	LEFT OUTER JOIN users u ON u.user_id =o.user_id
	INNER JOIN orderItems oi ON oi.order_id =o.order_id 
	LEFT OUTER JOIN product p ON p.product_id =oi.product_id 
	LEFT OUTER JOIN file f ON f.reference_id =p.product_id AND f.use_yn ='Y' AND f.reference_type ='PRODUCT_IMG'
	WHERE o.order_id =#{orderId}
    </select>
    <update id="updateOrder" parameterType="com.portfolioBo.order.dto.OrderDto$OrderUpdateQuery">
        UPDATE orders
        SET
        <trim suffixOverrides=",">
        <if test="postcode != null and postcode.trim() != ''">
            post_code = #{postcode},
        </if>
        <if test="roadAddress != null and roadAddress.trim() != ''">
            road_address = #{roadAddress},
        </if>
        <if test="jibunAddress != null and jibunAddress.trim() != ''">
            jibun_address = #{jibunAddress},
        </if>
        <if test="detailAddress != null and detailAddress.trim() != ''">
            detail_address = #{detailAddress},
        </if>
        <if test="status != null and status.trim() != ''">
            status = #{status},
        </if>
        </trim>
        WHERE order_id = #{orderId}
    </update>
    <select id="selectOrderWithExclusiveLock" parameterType="Int" resultType="com.portfolioBo.order.dto.OrderDto">
        SELECT 
			order_id,
			user_id,
			total_price,
			status,
			create_date,
			modify_date,
			post_code,
			road_address,
			jibun_address,
			detail_address
        FROM 
            orders 
        WHERE order_id=#{orderId}
        FOR UPDATE
    </select>
</mapper>